.con {
    width: 690px;
    margin: 0px auto;
}

// 置顶店铺
.Roofshop {
    .official2 {
        margin-top: 60px;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #d5d5d5;

        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-top: 30px;

            li {
                width: calc(50% - 20px);
                margin-left: 20px;
                text-align: center;
                height: 95px;
                line-height: 95px;
                border-radius: 8px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    background-color: #cacaca;
                    left: 26px;
                    top: 33px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    background-color: #fff;
                    left: 31px;
                    top: 38px;
                }

                &.active {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        border-radius: 100%;
                        background-color: #5adfcb;
                        left: 26px;
                        top: 33px;
                    }
                }
            }
        }
    }

    .official3 {
        font-size: 32px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        line-height: 100px;
        border-bottom: 1px solid #d5d5d5;

        h2 {
            float: left;
            line-height: 100px;
        }

        .number {
            margin-left: 130px;
            border: 0px;
            text-align: right;
        }

        .all {
            color: #ffbc4a;
            margin-left: 350px;
        }
    }

    .buy {
        width: 600px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        background-color: #FF6064;
        font-size: 32px;
        margin: 0px auto;
        margin-top: 150px;
        border-radius: 15px;
    }
}

// 二维码
.code {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../img/codebg.png');
    background-size: 750px 100vh;
    background-repeat: no-repeat;

    img {
        border: 1px solid #d5d5d5;
        border-radius: 100%;
        margin: 100px auto 40px;
    }

    h2 {
        font-size: 38px;
        text-align: center;
    }

    p {
        font-size: 26px;
        color: #999;
        text-align: center;
        margin-top: 15px;
    }

    .txt {
        width: 600px;
        margin: 100px auto 0px;
        height: auto;
        padding: 20px;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        display: flex;
        flex-direction: column;

        p {
            font-size: 32px;
            text-align: center;
            color: #333;
        }

        h2 {
            color: #ec5e84;
            text-align: center;
            margin-top: 20px;
            font-size: 32px;
        }

        img {
            width: 150px;
            margin: 40px auto;
            border-radius: initial;
        }
    }

    .txt1 {
        width: 400px;
        margin: 40px auto;
        color: #999;
        text-align: center;
        font-size: 28px;
        line-height: 65px;
    }
}

// 消息
.news {
    margin-bottom: 150px;

    ul {
        margin-top: 40px;

        li {
            height: 260px;
            background-color: #fff;
            position: relative;
            margin-bottom: 40px;

            .title {
                height: 100px;
                border-bottom: 1px solid #d5d5d5;
                width: 100%;
                font-size: 32px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                line-height: 50px;
                padding: 25px;

                .time {
                    font-size: 26px;
                    color: #999;
                }
            }

            .txt {
                padding: 25px;
                font-size: 28px;
                display: flex;
                height: 100px;
                overflow: hidden;
            }

            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background-color: #26ce51;
                right: 15px;
                bottom: 15px;
            }
        }
    }
}

// 发现
.find {
    margin-bottom: 150px;

    ul {
        margin-top: 40px;

        li {
            background-color: #fff;
            position: relative;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
            border-radius: 8px;

            .title {
                width: 100%;
                height: 265px;

                img {
                    height: 265px;
                }

                .time {
                    font-size: 26px;
                    color: #999;
                }
            }

            .txt {
                padding: 25px;
                display: flex;
                height: 150px;
                overflow: hidden;
                flex-direction: column;

                p {
                    font-size: 32px;
                }

                .time {
                    font-size: 24px;
                    color: #999;
                    margin-top: 10px;
                }
            }
        }
    }
}

.login {
    .link_box {
        display: flex;
        flex-direction: row;
        margin-top: 120px;

        .title {
            font-size: 50px;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 20px;
                height: 5px;
                background-color: #FF6064;
                left: 40px;
                bottom: -10px;
                border-radius: 30px;
            }
        }

        .link {
            font-size: 28px;
            margin-top: 20px;
            margin-left: 35px;

            a {
                color: #999;
                display: block;
            }
        }
    }

    .xy {
        font-size: 24px;
        text-align: center;
        margin-top: 60px;
    }

    .official3 {
        font-size: 32px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        line-height: 100px;
        border-bottom: 1px solid #d5d5d5;
        justify-content: space-between;

        .button {
            float: right;
            margin-right: 20px;
            color: #ff5c5d;
        }

        h2 {
            float: left;
            line-height: 100px;
        }

        .number {
            border: 0px;
            text-align: left;
        }

        .all {
            color: #ffbc4a;
            margin-left: 350px;
        }
    }

    .buy {
        width: 600px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        background-color: #FF6064;
        font-size: 32px;
        margin: 0px auto;
        margin-top: 150px;
        border-radius: 15px;
    }
    .forget{
        float: right;
        font-size: 26px;
        color: #999;
        margin-top: 20px;
    }
}

// 发现详情
.detail{
    h2{
        font-size: 36px;
        margin-top: 60px;
    }
    .time{
        font-size: 24px;
        color:#999;
        margin-top: 15px;
    }
    img{
        margin-top: 20px;
        border-radius: 8px;
    }
    .detail_box{
        margin-top: 20px;
        p{
            font-size: 24px;
        }
    }
}