.con {
  width: 690px;
  margin: 0px auto;
}
.Roofshop .official2 {
  margin-top: 60px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d5d5d5;
}
.Roofshop .official2 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: 30px;
}
.Roofshop .official2 ul li {
  width: calc(50% - 20px);
  margin-left: 20px;
  text-align: center;
  height: 95px;
  line-height: 95px;
  border-radius: 8px;
  position: relative;
}
.Roofshop .official2 ul li::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #cacaca;
  left: 26px;
  top: 33px;
}
.Roofshop .official2 ul li::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #fff;
  left: 31px;
  top: 38px;
}
.Roofshop .official2 ul li.active::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #5adfcb;
  left: 26px;
  top: 33px;
}
.Roofshop .official3 {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  line-height: 100px;
  border-bottom: 1px solid #d5d5d5;
}
.Roofshop .official3 h2 {
  float: left;
  line-height: 100px;
}
.Roofshop .official3 .number {
  margin-left: 130px;
  border: 0px;
  text-align: right;
}
.Roofshop .official3 .all {
  color: #ffbc4a;
  margin-left: 350px;
}
.Roofshop .buy {
  width: 600px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background-color: #FF6064;
  font-size: 32px;
  margin: 0px auto;
  margin-top: 150px;
  border-radius: 15px;
}
.code {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../img/codebg.png');
  background-size: 750px 100vh;
  background-repeat: no-repeat;
}
.code img {
  border: 1px solid #d5d5d5;
  border-radius: 100%;
  margin: 100px auto 40px;
}
.code h2 {
  font-size: 38px;
  text-align: center;
}
.code p {
  font-size: 26px;
  color: #999;
  text-align: center;
  margin-top: 15px;
}
.code .txt {
  width: 600px;
  margin: 100px auto 0px;
  height: auto;
  padding: 20px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  flex-direction: column;
}
.code .txt p {
  font-size: 32px;
  text-align: center;
  color: #333;
}
.code .txt h2 {
  color: #ec5e84;
  text-align: center;
  margin-top: 20px;
  font-size: 32px;
}
.code .txt img {
  width: 150px;
  margin: 40px auto;
  border-radius: initial;
}
.code .txt1 {
  width: 400px;
  margin: 40px auto;
  color: #999;
  text-align: center;
  font-size: 28px;
  line-height: 65px;
}
.news {
  margin-bottom: 150px;
}
.news ul {
  margin-top: 40px;
}
.news ul li {
  height: 260px;
  background-color: #fff;
  position: relative;
  margin-bottom: 40px;
}
.news ul li .title {
  height: 100px;
  border-bottom: 1px solid #d5d5d5;
  width: 100%;
  font-size: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 50px;
  padding: 25px;
}
.news ul li .title .time {
  font-size: 26px;
  color: #999;
}
.news ul li .txt {
  padding: 25px;
  font-size: 28px;
  display: flex;
  height: 100px;
  overflow: hidden;
}
.news ul li::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #26ce51;
  right: 15px;
  bottom: 15px;
}
.find {
  margin-bottom: 150px;
}
.find ul {
  margin-top: 40px;
}
.find ul li {
  background-color: #fff;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.find ul li .title {
  width: 100%;
  height: 265px;
}
.find ul li .title img {
  height: 265px;
}
.find ul li .title .time {
  font-size: 26px;
  color: #999;
}
.find ul li .txt {
  padding: 25px;
  display: flex;
  height: 150px;
  overflow: hidden;
  flex-direction: column;
}
.find ul li .txt p {
  font-size: 32px;
}
.find ul li .txt .time {
  font-size: 24px;
  color: #999;
  margin-top: 10px;
}
.login .title {
  font-size: 50px;
  margin-top: 120px;
}
.login .xy {
  font-size: 24px;
  text-align: center;
  margin-top: 60px;
}
.login .official3 {
  font-size: 32px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  line-height: 100px;
  border-bottom: 1px solid #d5d5d5;
  justify-content: space-between;
}
.login .official3 .button {
  float: right;
  margin-right: 20px;
  color: #ff5c5d;
}
.login .official3 h2 {
  float: left;
  line-height: 100px;
}
.login .official3 .number {
  border: 0px;
  text-align: left;
}
.login .official3 .all {
  color: #ffbc4a;
  margin-left: 350px;
}
.login .buy {
  width: 600px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  background-color: #FF6064;
  font-size: 32px;
  margin: 0px auto;
  margin-top: 150px;
  border-radius: 15px;
}
