body{
    width:750px;
    margin:0px auto;
    background: #F8F9FC;
}
a:focus, a:hover{
    text-decoration: none;
}
input:focus {
  outline:none;
}
.header{
  width:100%;
  height: 90px;
  background-color: #FF5162;
  text-align: center;
  line-height: 90px;
  font-size: 32px;
  color: #fff;
  position: relative;
}
.header img{
  position: absolute;
  width:40px;
  left:10px;
  top: 25px;
}
@media screen and (max-width: 1200px) {
    body {
        width: 100vw;
        height: auto;
    }
}

.foot {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 100px;
    background-color: #fcfcfc;
    border-top: 1px solid #d5d5d5;
  }
  .foot ul {
    display: flex;
    flex-direction: row;
  }
  .foot ul li {
    width: 20%;
    display: flex;
    flex-direction: column;
  }
  .foot ul li a {
    display: flex;
    flex-direction: column;
  }
  .foot ul li img {
    width: 39px;
    margin: 15px auto 10px;
  }
  .foot ul li h2 {
    font-size: 22px;
    color: #D7D7D7;
    text-align: center;
  }
  .foot ul li h2.active {
    color: #ff5c5d;
  }