.flex{
    display: -webkit-flex;
    display: flex;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.ce-header{
    background-image: url("../img/img23.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 272px;
    color: #fff;
}
.ce-heli{
    display: -webkit-flex;
    display: flex;
    padding: 40px 50px 50px;
    justify-content: space-between;
}
.ce-logo img{
    width: 130px;
    height: 130px;
    }
.ce-tel{
    font-size: 48px;
    font-weight: bold;
}
.ce-id{
    font-size: 26px;
}
.ce-vip{
    font-size: 24px;
}
.ce-dp{
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.ce-vip,.grade-vip{
    background-image: url("../img/vip.png");
    background-repeat: no-repeat;
    width: 114px;
    text-align: right;
    margin-left: 20px;
    padding-right: 10px;
    line-height: 40px;
}
.ce-change{
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 10px;
    text-align: center;
}
.ce-cont1{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    justify-content:space-evenly;
    margin: -70px 30px 30px 25px;
    background-color: #fff;
    padding: 25px 20px;
}
.ce-cont2{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    font-size: 32px;
    margin: 25px 30px;
}
.ce-lia{
    padding-left: 35px;
    padding-right: 35px;
    display: block;
}
a.ce-lia{
    color: #333333;
    text-decoration: none;
}
.ce-lifont{
    margin-left: 30px;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 30px;
    border-bottom: 3px solid #f4f3f8;
}
.ce-lifont1{
    background: url("../img/img2.png") no-repeat left 45px;   
}
.ce-lifont2{
    background: url("../img/img3.png") no-repeat left 45px;   
}
.ce-lifont3{
    background: url("../img/img4.png") no-repeat left 45px;   
}
.ce-lifont4{
    background: url("../img/img5.png") no-repeat left 45px;   
}
.ce-lifont5{
    background: url("../img/img6.png") no-repeat left 45px;   
}
.ce-lifont6{
    background: url("../img/img7.png") no-repeat left 45px;   
}
.ce-lifont7{
    background: url("../img/img8.png") no-repeat left 45px;   
}
.ce-lifont8{
    background: url("../img/img9.png") no-repeat left 45px;   
}
.ce-lifont9{
    background: url("../img/img10.png") no-repeat left 45px;   
}
.ce-img1{
    float: right;
    padding-top: 8px;
}
.ce-cont11{
    justify-content:space-evenly;
}
.ce-font1{
    color: #999996;
    font-size: 28px;
    text-align: center;
}
.ce-font2{
    color: #333333;
    font-size: 40px;  
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}
.ce-font3 a,.ce-font4 a{
    font-size: 28px;
    text-align: center;
    color: #ffc446;   
}
.ce-font3{
    background: url("../img/img1.png") no-repeat left; 
    width: 202px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 45px;
    border-radius: 3px;
    height: 45px;

}
.ce-font4 a{
    background-color: #fff7f8;
    padding: 8px 20px;
    border-radius: 3px;
    line-height: 45px;  
}
.grapage{
    background-color: #fff9e3;
}
.grade-top{
    background-image: linear-gradient(to right,#fc8373 0%, #ff4b62 100%);
    height: 150px;
    padding-top: 1px;
    box-sizing: border-box;
}
.grade-cont1{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    background-color: #fff;
    margin-top: -75px;
    box-sizing: content-box;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
}
.gradeline{
    border-bottom: 2px solid #f4f3f8;
    padding-bottom: 25px;
    display: inline-block;
}
.grad-font1{
    color: #ff5c5d;
    font-size:32px;
}
.grade-vip{
    display: inline-block;
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
    margin-right: 50px;
}
.grad-font2{
    font-size: 24px;
    padding-right: 30px;
    font-weight: bold;
    color: rgba(51, 51, 51, 0.89);
}
.grad-font3{
    color: #ffbc4a;
    font-size: 32px;
    padding-top: 30px;
}
.grad-font3::after{
    clear: both;
    content: ' ';
    display: block;
    overflow: hidden;
}
.grade-lv{
    width: 460px;
    display: inline-block;
}
.grade-gap{
    margin-top: 20px;
    width: 100%;
    height: 12px;
	background-color: #f1f1f1;
    border-radius: 6px;
}
.grade-gap i{
    height: inherit;
    background-color: #ffbc4a;
    border-radius: 6px;
    display: block;
    
}
.grad-font4{
    color: rgba(51, 51, 51, 0.7);
    font-size: 26px;
    display: inline-block;
    margin-left: 30px;
    vertical-align: -35px; 
}
.grade-cont2{
    background-color: #ffffff;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    padding: 35px 30px;
    margin: 30px;
}
.grade-title1{
    font-size: 32px;
    text-align: center;
    color: #ffbc4a;
    background: url("../img/title.png") no-repeat center center;
}
.grad-font5{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.grad-font6{
    border: 2px solid #f76264;
    border-radius: 10px;
    margin-top: 35px;
}
.grad-font6 table{
    border-spacing:0;
    
}
.grad-font6 thead{
    width: 100%;
    background-color: #f76264;
    font-size: 23px;
    height: 60px;
    line-height: 60px;
    border-radius: 20px;
    color: #fff;
    margin-top: 5px;
}
.grad-font6 td{
    padding-left: 10px;
    line-height: 1.5;
}
.grad-font6 td img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.grad-font6 tbody tr{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
}
.grad-font6 tbody tr:nth-child(2n + 1){
    background-color: #f0f3fc; 
}
.bopage1{
    background-color: #fff;
}
.gradin-top{
    background: url("../img/img12.png") no-repeat center center;
    width: calc(100vw - 60px);
    margin: 20px 30px;
    height: calc((100vw - 60px) * 0.4637 );
    background-size: cover;
    padding-top: 1px;
}
.gradin1{
    font-size: 28px;
    margin: 11.5% auto 10px;
    text-align: center;
}
.gradin1 span{
    background-color: #ff1667;
    border-radius: 23px;
    padding: 10px 20px;    
    color: #fff; 
}
.gradin2{
    font-size: 68px;
    text-align: center;
    font-weight: bold;
    color: #fff;   
}
.gradin-list{
    margin: 40px 30px 40px;
}
.gradin-title{
    font-size: 36px;
    padding-left: 20px;
    background: url("../img/img13.png") no-repeat left center;
}
.gradin-li{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    align-items: center;
}
.gradin-cont1{
    font-size: 32px;
    color: #333;
    padding-bottom: 10px;
}
.gradin-cont2{
    font-size: 24px;
    color: #999999;
}
.gradin-join{
    font-size: 32px;
    color: #ff4000;
}
.gradin-cut{
    font-size: 32px;
    color: #ffbc4a;
}
.invest-cont1{
    border: 1px solid rgba(131, 131, 131, 0.4);
    border-radius: 15px;
    font-size: 32px;
    color: #7c838d;
    margin: 20px 30px;
    padding: 35px 40px;
}
.invest-font2{
    border-bottom:1px solid #e4e4ee;
    padding-bottom: 15px;
    margin-top: 40px;
}
.invest-font2 input{
    font-size: 72px;
    color: #121922;
    display: inline-block;
    border: 0;
    width: 500px;
    margin-left: 20px;
}
.invest-font3{
    background: url("../img/img14.png") no-repeat left center;
    padding-left: 40px;
    margin-top: 50px;
}
.invest-font4{
    margin: 90px 60px;
}
.inv-btn1,.task-btn1,.adva-btn1,.advae-btn1,.invec-btn1{
    border-radius: 45px;
    color: #fff;
    font-size: 32px;
    background-image: linear-gradient(90deg, #ff6565 0%, #ff4b62 100%);
    display: block;
    width: 100%;
    line-height: 90px;
    border: 0;
}
.task-cont1,.adva-cont1,.advae-cont1,.invec-cont1,.changp-cont1{
    margin: 30px;
}
.task-cont2,.adva-cont2,.advae-cont2,.invec-cont2,.changp-cont2{
    margin: 100px 0;
}
.task-p1,.adva-p1,.advae-p1,.invec-p1{
    border-bottom: 1px solid #ced9e0;
    font-size: 32px;
    color: #333333;
    padding-top: 45px;
    padding-bottom: 45px;
    display: -webkit-flex;
    display: flex;  
    justify-content: space-between;
}
.invec-p2{
    border-bottom: 1px solid #ced9e0;
    font-size: 32px;
    color: #333333;
    padding-top: 45px;
    padding-bottom: 45px;
}
.task-sp2,.adva-sp2{
    color: #ffbc4a;
}
.task-sp3,.adva-sp3{
    background: url("../img/img14.png") no-repeat left center;
    padding-left: 35px;
}
.advae-sp3{
    color: #8c8d8f;
}
.advae-p4 img{
    width: 156px;
    height: 156px;
}
.advae-p5{
    margin-top: 40px;
    margin-bottom: 10px;
}
.advae-p6{
    font-size: 56px;
    color: #ffbc4a;
    margin-bottom: 10px;
}
.advae-cont3{
    text-align: center;
}
.task-sp5 input,.adva-sp5 input{
    color: #b3b3b3;
    border: 0;
    text-align: right;
}
.advae-sp1{
    background: url("../img/img16.png") no-repeat left center;
    padding-left: 55px;   
}
.advae-sp2{
    background: url("../img/img17.png") no-repeat left center;
    padding-left: 55px;   
}
.invec-p2{
    font-size: 36px;
    color: #333;
}
.invec-sp{
    font-size: 28px;
    color: #cccccc;
}
.invec-p2 label{
    font-weight: normal;
    color: #615454;
}
.invec-la1{
    background: url("../img/img19.png") no-repeat left center;
    padding-left: 35px;
    padding-right: 40px;
}
.invec-p2 input:checked + .invec-la1{
    background: url("../img/img18.png") no-repeat left center;
}
.invec-sp3 input{
    border: 0;
    font-size: 32px;
    color: #b2b2b2;
    text-align: right;
}
.changp-li{
    background-color: #ffffff;
	box-shadow: 0px 1px 20px 0px rgba(3, 0, 0, 0.08);
    border-radius: 20px;
    display: -webkit-flex;
    padding-right: 25px;
    display: flex;  
    justify-content: space-between;
}
.changp-p3{
    display: inline-block;
    margin-left: 35px;

}
