.con {
  width: 690px;
  margin: 0px auto;
}
.index {
  margin-top: 30px;
}
.index .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -25px;
}
.index .list li {
  width: calc(33.33% - 25px);
  height: 290px;
  margin-left: 25px;
  float: left;
  background: #fff;
  margin-bottom: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.index .list li a {
  display: block;
}
.index .list li a img {
  width: 75px;
  height: 75px;
  margin: 10px auto 0px;
  display: flex;
}
.index .list li h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}
.index .list li p {
  font-size: 20px;
  color: #999;
  text-align: center;
  margin-top: 20px;
}
.foot {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background-color: #fcfcfc;
  border-top: 1px solid #d5d5d5;
}
.foot ul {
  display: flex;
  flex-direction: row;
}
.foot ul li {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.foot ul li a {
  display: flex;
  flex-direction: column;
}
.foot ul li img {
  width: 39px;
  margin: 15px auto 10px;
}
.foot ul li h2 {
  font-size: 22px;
  color: #D7D7D7;
  text-align: center;
}
.foot ul li h2.active {
  color: #ff5c5d;
}
.official .official1 {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #f5f5f5;
  border-radius: 5px;
}
.official .official1 h2 {
  line-height: 150px;
  font-size: 36px;
  color: #b38006;
  padding-left: 30px;
  position: relative;
}
.official .official1 h2::before {
  content: '';
  position: absolute;
  left: 0px;
  width: 5px;
  top: 65px;
  height: 20px;
  background-color: #FBD392;
}
.official .official1 h2 span {
  color: #664630;
  margin-left: 30px;
}
.official .official2 {
  font-size: 32px;
  display: flex;
  flex-direction: column;
}
.official .official2 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  margin-top: 30px;
}
.official .official2 ul li {
  width: calc(50% - 20px);
  margin-left: 20px;
  text-align: center;
  border: 1px solid #d5d5d5;
  height: 95px;
  line-height: 95px;
  border-radius: 8px;
}
.official .official2 ul li.active {
  background: #fffdf8;
  border: 1px solid #edcfb8;
}
.official .official3 {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.official .official3 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: -20px;
  margin-top: 30px;
}
.official .official3 ul li {
  width: calc(50% - 20px);
  margin-left: 20px;
  text-align: center;
  border: 1px solid #d5d5d5;
  height: 250px;
  border-radius: 8px;
  padding: 20px;
}
.official .official3 ul li img {
  margin: 20px auto 20px;
}
.official .official3 ul li.active {
  background: #fffdf8;
  border: 1px solid #edcfb8;
}
.official .qy {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}
.official .qy img {
  width: 600px;
  margin: 0px auto;
}
.official .qy ul {
  font-size: 26px;
  margin-top: 30px;
  color: #666666;
}
.official .qy ul li {
  height: 90px;
  border-bottom: 1px solid #d5d5d5;
  line-height: 90px;
}
.official .qy ul li:first-child {
  line-height: normal;
}
.official .qy ul li:first-child p {
  padding: 15px;
}
.official .qy ul li:first-child p:first-child {
  width: 150px;
  text-align: left;
  color: #ff9900;
  font-size: 30px;
}
.official .qy ul li p {
  float: left;
  width: 130px;
  font-size: 24px;
  text-align: center;
}
.official .buy {
  width: 100%;
  line-height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  border-top: 1px solid #d5d5d5;
  padding-left: 40px;
}
.official .buy p {
  font-size: 28px;
  float: left;
}
.official .buy p span {
  font-size: 36px;
  color: #ff5c5d;
}
.official .buy .buy_button {
  float: right;
  font-size: 36px;
  line-height: 100px;
  width: 280px;
  background-color: #ffd99d;
  text-align: center;
  color: #664630;
}
#nian_box {
  display: none;
}
.combat {
  width: 750px;
  background-image: url(../img/bg1.png);
  background-size: 750px 330px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.combat .box1 {
  height: 275px;
  background-color: #fff;
  margin-top: 70px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.combat .box1 .icon_head {
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  top: -50px;
  background-color: #fff;
}
.combat .box1 .box1_1 {
  height: 130px;
  border-bottom: 1px solid #ddd;
  padding: 25px;
}
.combat .box1 .box1_1 .txt {
  width: 268px;
  height: 90px;
  float: left;
  margin-left: 150px;
  font-size: 24px;
  color: #ff5c5d;
}
.combat .box1 .box1_1 .txt .tit {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}
.combat .box1 .box1_1 .id {
  color: #ffbc4a;
  border: 1px solid #ffbc4a;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  float: right;
  padding: 0px 15px;
}
.combat .box1 .box1_2 {
  font-size: 24px;
  color: #666;
  padding: 30px;
}
.combat .box1 .box1_2 span {
  color: #ff5c5d;
}
.combat .box2 {
  height: auto;
  background-color: #fff;
  margin-top: 35px;
  border-radius: 8px;
}
.combat .box2 .box2_1 {
  width: 100%;
  padding-left: 20px;
  font-size: 32px;
  height: 110px;
  line-height: 110px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.combat .box2 .box2_1::before {
  content: '';
  width: 5px;
  height: 24px;
  background-color: #fe616a;
  position: absolute;
  left: 0px;
  top: 40px;
}
.combat .box2 ul {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.combat .box2 ul li {
  height: 130px;
  line-height: 130px;
}
.combat .box2 ul li img {
  width: 90px;
  height: 90px;
  float: left;
  margin-top: 25px;
}
.combat .box2 ul li .txt {
  width: 520px;
  float: right;
  border-bottom: 1px solid #d5d5d5;
}
.combat .box2 ul li .txt .name {
  font-size: 30px;
  float: left;
  width: 300px;
  overflow: hidden;
  height: 130px;
}
.combat .box2 ul li .txt .id {
  font-size: 30px;
  color: #666;
  float: right;
}
